- unless @lists_public.blank?
  table
    thead
      tr
        th Name
    tbody
      - @lists_public.each do |list|
        tr
          td= link_to list.name, songs_path(list_id: list.id)
          td.td_width
          td
            = link_to 'Add to yours?', add_lists_path(list), {method: :post, data: { confirm: "Are you sure?" }}
- else
  h4 No lists
