- unless @lists.blank?
  table.lists
    thead
      tr
        th Name
    tbody
      - @lists.each do |list|
        tr.tr_height
          td
            = link_to list.name, songs_path(list_id: list.id)
          - if list.user_id == current_user.id
            td
              = link_to list_path(id: list.id), {method: :delete, data: { confirm: "Are you sure?" }, remote: true}  do
                i.delete.rightlog
- else
  h4 No lists
