.nav.navbar-nav.navbar-fixed-left.navbar-left.left-board
  h3 My lists:
  = radio_button_tag(:my, "all", true, class: 'filter_lists', data: { key: 'all' })
  = label_tag "my_all", "All my lists"
  br/
  = radio_button_tag(:my, "private", false, class: 'filter_lists', data: { key: 'private' })
  = label_tag "my_private", "Without my public"
  br/
  = radio_button_tag(:my, "only", false, class: 'filter_lists', data: { key: 'only' })
  = label_tag "my_only", "Without available"
  br/
  #lists
    = render 'lists'
  br/
  - if @lists
    = paginate @lists
  br/
.nav.navbar-nav.navbar-fixed.center-graph
  = line_chart @styles.map { |goal|                                                   \
        {name: goal.name, data: goal.owned_ratings.group_by_month(:created_at).count} \
    }                                                                                 
.nav.navbar-nav.navbar-fixed-right.navbar-right.right-board
  h3 Other public user lists:
  #lists
    = render 'lists_public'
  br/
  - if @lists_public
    = paginate @lists_public
  br/
