h2.center3 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field.center3
    = f.label :email
    br/
    = f.email_field :email, autofocus: true
  .field.center3
    = f.label :password
    - if @minimum_password_length
      em
        | (#{@minimum_password_length} characters minimum)
    br/
    = f.password_field :password, autocomplete: "off"
  .field.center3
    = f.label :password_confirmation
    br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions.center3
    = f.submit "Sign up"
.center3
  = render "devise/shared/links"
