div class=".nav.navbar-nav.left" 
.center2
  h3 Search list
  = form_tag search_index_path, {method: :get} do
    p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil
  table
    thead
      tr
        th Name
        th Description
    tbody
      - if @lists
        - @lists.each do |list|
          tr.tr_height
            td= list.name
            td= list.description
  - if @lists
    = paginate @lists
