.center2
  h3
    | Songs of #{@list.name}:
  h3= @list.description
  table
    thead
      tr
        th Name
        th Author
        th Youtube
    tbody
      - if @songs
        - @songs.each do |song|
          tr.tr_height
            td= song.name
            td= song.author
            td.td_width
              - if song.url?
                = link_to "See on YouTube", style_ratings_path(style_id: song.style_id, url: song.url), {method: :post, data: { confirm: "Are you sure?" } }
            - if song.list.user_id == current_user.id
              td
                = link_to song_path(id: song.id), {method: :delete, data: { confirm: "Are you sure?" }}  do
                  i.delete.rightlog
  - if @songs
    = paginate @songs
