h2.center3 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.center3
    = f.label :email
    br/
    = f.email_field :email, autofocus: true
  .field.center3
    = f.label :password
    br/
    = f.password_field :password, autocomplete: "off"
  .actions.center3
    = f.submit "Log in"
.center3
  = render "devise/shared/links"
