/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap"

#chart-1
  height: 100px
  width: 100px
  margin-left: 200px 

#lists
  font-size: 20px

body
  background-color: #e9ebee

#logo
  font-size: 20px
  color: white

#search
  font-size: 20px
  color: black

textarea
  resize: none
  border-radius: 10px
  outline: none

.td_width
  width: 30px

.tr_height
  height: 40px

.logout
  background: url(logout.png) 100% 100% no-repeat
  background-size: contain
  margin-top: -30px
  background-color: #4267b2
  outline: none

.delete
  background: url(delete.png) 100% 100% no-repeat
  background-size: contain
  margin-top: -20px  
  outline: none

.back
  background: url(back.png) 100% 100% no-repeat
  background-size: contain
  margin-top: 0px  
  outline: none

body

.navbar
  background-color: #4267b2
  border-radius: 0px

.center
  margin: auto
  width: 70%
  padding: 10px

.center-graph
  margin: auto
  width: 45%

.center2
  margin: auto
  width: 99%
  padding: 10px

.center3
  margin: auto
  width: 100%
  text-align: center
  padding: 10px

.left-board
  margin-left: 50px

.right-board
  margin-right: 50px

.navbar-right .navbar-right-new
  margin-top: 50px

.left
  width: 10%
  text-align: left
  padding: 10px

.right
  position: absolute
  width: 50px
  border: 0px
  padding: 10px

.rightlog
  position: absolute
  width: 30px
  height: 30px
  border: 0px
  padding: 10px