doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title FavoriteSongs
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "//www.google.com/jsapi"

  body
    header.navbar.navbar-inverse
      .container
        - if current_user
          .nav.navbar-nav.left
            = link_to 'FavoriteSongs', home_path, id: "logo"
          .center3
            = link_to 'Search', search_index_path, id: "logo"
            nav
              ul.nav.navbar-nav.navbar-right.navbar-right-new
                = link_to destroy_user_session_path, {method: :delete} do
                  i.logout.rightlog
        - else
          .nav.navbar-nav.center3
            = link_to 'FavoriteSongs', home_path, id: "logo"
    .container
      - if notice
        p.alert.alert-success= notice.html_safe
      - if alert
        p.alert.alert-danger= alert
    = yield
